%section#gallery
  %ul
    - 8.times do
      %li
        %img{ :class => "photo", :alt => "", :src => "http://placekitten.com/g/500/400" }

%section#services
  %header
    %h2 Services
  .body
    %p The fee for an initial consultation and 4 ceramic imprints is $40.00. ($10 for each hand print and foot print). This covers the clay and kiln firing as well as glaze selection and custom mug, plate, bowl, or vase design.  Please bring along a favorite mug from home or a picture if you have a specific profile in mind.  I usually just throw a mug while you are here and shape it to your liking.
    %p The original ceramic imprint molds can then be used to create sprigs (a raised appliqué) or a stamped indent of the hand print or foot print on any ceramic item of your liking now or in the future.  The footprint plates are made simply by standing on the plate and are quite fun to create.  Custom ceramics make the perfect functional gift for any occasion.
    %p The fee for each piece is as follows:
    %ul
      %li Mug: $30
      %li Mug cover (to keep your drink warm when you step away): $20
      %li Saucer: $20
      %li Plate: $30
      %li Vase: $30
      %li Bowl: $30 small, $60 Large
    %p The ceramic pieces are constructed of durable high-fire porcelain and are food safe, dishwasher, and microwave safe.  The initial consult fee of $40 and 50% of your order is due at the initial meeting by cash or check payable to Imprintz.  Your order will usually take two weeks to complete and full payment is due at pickup.  Custom orders are non-returnable.
    %p I work by appointment, M-F 10-6, or weekends.  Please feel free to contact me by cell 740-707-7423 or text to set up a time that works best for you.  Thanks for your interest and I look forward to hearing from you!

%section#about
  %header
    %h2 About
  .body
    %h3 Biography
    %p Lea Zoltowski Ertz is the artist behind Imprintz.  Originally from Pennsylvania, she received her BFA in Ceramics from Alfred University, New York State College of Ceramics, Alfred, NY, 1997-2001 and her MFA in Ceramics from Ohio University, Athens, OH, 2003-2006. She was an Artist-in-Residence and Instructor at the Watershed Center for the Ceramic Arts in Newcastle, ME, 2001-2002, and Artist-in-Residence and Instructor at Arrowmont School of Arts & Crafts in Gatlinburg, TN, 2002-2003.
    %p
      Lea has exhibited her artwork nationally and internationally and has pieces in collections in China and England. Lea was an Assistant Professor of Art at Montana State University, Billings, MT, from 2006-2010. She has recently married and relocated to Boulder, CO where she is currently a full time studio artist.  See more of Lea's work at
      %a{ :href => "http://leazoltowski.com", :rel => "friend"} http://leazoltowski.com


    %h3 Philosophy
    %p I enjoy stretching the material limits of clay, glaze and my imagination. The directness of clay immortalizes the fingerprints and energy of the maker.  My own process is in a constant state of invention including building upside down, paper templates, and moldmaking techniques. The reward of creating functional artwork with your own hands is truly refreshing.  I enjoy creating custom commission work and welcome your ideas and suggestions for pottery or sculptures.
    %p Teaching is a lifelong passion of mine and lessons in wheelthrowing and handbuilding techniques at my home studio are available by appointment for $40/hour.  This fee covers your clay, glaze, and two kiln firings to make your creation permanent.  My free educational ceramics video demonstrations are available at http://leazoltowski.com/videos.

%section#contact
  %header
    %h2 Contact
  .body
    .info
      .email
        %label Email
        %span.email
        =CONFIG['contact_email']

      .phone
        %label Phone:
        %span
          =CONFIG['contact_phone']

      .address
        %label Address:
        %span
          Imprintz
          4555 Brookfield Drive
          Boulder, CO 80305
    =form_for @contact, :url => contacts_path, :validate => true do |f|
      .row
        =f.label :name
        =f.text_field :name, :placeholder => 'Your Name (required)'
      .row
        =f.label :email
        =f.email_field :email, :placeholder => 'Your Email (required)'
      .row
        =f.label :phone
        =f.telephone_field :phone, :placeholder => 'Phone'
      .row
        =f.label :subject
        =f.text_field :subject, :placeholder => 'Subject'
      .row
        =f.label :message
        =f.text_area :message, :placeholder => 'Your Message'
      .action.row
        =f.submit 'Submit', :class => 'large button'
