%section#gallery
  %ul
    - 8.times do
      %li
        %img{ :class => "photo", :alt => "", :src => "http://placekitten.com/g/500/500" }

%section#services
  %header
    %h2 Services
  .body
    %p I design and create custom imprinted porcelain pottery for families and small businesses.  The durable, high-fire porcelain is dishwasher and microwave safe.  Custom ceramics make the perfect functional, reusable gift for any occasion.  Give these functional keepsakes to yourself, your relatives, or any new parents in your life.
    %p Watch the creation of your ideal mug, choose from over 20 glaze colors, and capture your child's imprints in clay during the initial $40 consultation.  This fee covers the clay and kiln firing as well as glaze selection and custom mug, plate, bowl, or vase design. Please bring a favorite mug from home or a picture if you have a specific profile in mind. I usually throw a prototype mug during your visit and shape it to your ideal specifications.
    %p The original ceramic imprint molds can be used to create sprigs (a raised applique) or a stamped indent of a hand print or foot print on any ceramic item of your liking now or in the future. The footprint plates are made simply by standing on the plate and are quite fun to create.  The typical fee for each piece is as follows: Mug $30 Mug cover (to keep your drink warm when you step away) $20 Saucer $20 Plate $30 Vase $30 Bowl $30 small, $65 large.
    %p The initial consult fee of $40 and 50% of your order is due at the initial meeting. Your order will take 2-3 weeks to complete and full payment is due at pickup. Custom orders are non-returnable.  Contact Lea to set up a time that works best for you.  Thanks for your interest and I look forward to hearing from you!

%section#about
  %header
    %h2 About
  .body
    %h3 Biography
    %p Lea Zoltowski Ertz is originally from Pennsylvania. She received her BFA in Ceramics from Alfred University, New York State College of Ceramics, Alfred, NY, 1997‐2001 and her MFA in Ceramics from Ohio University, Athens, OH, 2003‐2006. She was an Artist‐in‐Residence and Instructor at the Watershed Center for the Ceramic Arts in Newcastle, ME, 2001‐2002, and Artist‐in‐Residence and Instructor at Arrowmont School of Arts & Crafts in Gatlinburg, TN, 2002‐2003.
    %p
      Lea has exhibited her artwork nationally and internationally and has pieces in collections in China and England. Lea was an Assistant Professor of Art at Montana State University, Billings, MT, from 2006‐2010. She has recently married and relocated to Boulder, CO where she is currently a full time studio artist.
      %a{ :href => "http://leazoltowski.com", :rel => "friend" } http://leazoltowski.com


    %h3 Philosophy
    %p I enjoy stretching the material limits of clay, glaze and my imagination. The directness of clay immortalizes the fingerprints and energy of the maker. My own process is in a constant state of invention including building upside down, paper templates, and moldmaking techniques. The reward of creating functional artwork with your own hands is truly refreshing. I enjoy creating custom commission work and welcome your ideas and suggestions for pottery or sculptures.
    %p
      Teaching is a lifelong passion of mine and lessons in wheelthrowing and handbuilding techniques at my home studio are available by appointment for $40/hour. This fee covers your clay, glaze, and two kiln firings to make your creation permanent. My free educational ceramics video demonstrations are available at
      %a{ :href => "http://leazoltowski.com/videos", :rel => "friend" } http://leazoltowski.com/videos

%section#contact
  %header
    %h2 Contact
  .body
    .info
      .email
        %h3 Email
        %span.email
          =mail_to CONFIG['contact_email'], CONFIG['contact_email'], :encode => "hex"

      .phone
        %h3 Phone:
        %span
          =CONFIG['contact_phone']

      .address
        %h3 Address:
        %span
          Imprintz
          %br
          4555 Brookfield Drive
          %br
          Boulder, CO 80305

    =form_for @contact, :url => contacts_path, :validate => true do |f|
      .row
        =f.label :name
        =f.text_field :name, :placeholder => 'Your Name (required)'
      .row
        =f.label :email
        =f.email_field :email, :placeholder => 'Your Email (required)'
      .row
        =f.label :phone
        =f.telephone_field :phone, :placeholder => 'Phone'
      .row
        =f.label :subject
        =f.text_field :subject, :placeholder => 'Subject'
      .row
        =f.label :message
        =f.text_area :message, :placeholder => 'Your Message'
      .action.row
        =f.submit 'Submit', :class => 'large button'
