/**
 * Minimal base styles.
 */

$base-font-family: sans-serif;

/* 1) Always force a scrollbar in non-IE
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html { overflow-y: scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited {
  color: #00bbeb;
  text-decoration: none;
}
a:hover {
  color: #00bbeb;
  cursor:pointer;
  /*text-decoration: underline;*/
}

ul, ol { /*margin-left: 2em;*/ }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

p {
  margin: 0 0 1em 0;
}

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

.ie6 legend, .ie7 legend { margin-left: -7px; }

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements.
      Firefox adds a 1px margin above and below textareas
   3) Set font-size to match <body>'s, and font-family to sans-serif
   4) Align to baseline */
button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
textarea { overflow: auto; vertical-align:text-top; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 0; }

/* Colors for form validity */
input:valid, textarea:valid { }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif; */
  font-family: $base-font-family;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Myriad Pro', $base-font-family;
  margin: 0 0 1em 0;
}

h1 { font-size: 277%; } /* 36px */
h2 { font-size: 182%; } /* 24px */
h3 { font-size: 153.9%; } /* 20px */
h4 { font-size: 138.5%; } /*renders 18px */
h5 { font-size: 123.1%; } /*renders 16px */
h6 { font-size: 108%; } /*renders 14px */
/*{font-size:100%;} *//*renders 13px *//* */
/*{font-size:85%;} *//*renders 11px */

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink!
::-moz-selection{ background: #ccc; color:#333; text-shadow: none; }
::selection { background:#ccc; color:#333; text-shadow: none; }
*/

/* Flashes
-------------------------------------------------------------- */
.js #flash {
  display: none;
}

#flash {
  position: absolute;
  width: 100%;
  z-index: 10000;
  p {
    margin: 1em 0;
  }
  .error,
  .alert,
  .notice,
  .success,
  .info,
  .flash { padding: 0.8em; border: 2px solid #ddd; }

  .error { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
  .alert,
  .notice { background: #fff6bf; color: #514721; border-color: #ffd324; }
  .success { background: #e6efc2; color: #264409; border-color: #c6d880; }
  .info,
  .flash { background: #d5edf8; color: #205791; border-color: #92cae4; }

  .error a { color: #8a1f11; }
  .alert a,
  .notice a { color: #514721; }
  .success a { color: #264409; }
  .info a,
  .flash a { color: #205791; }
}


/* Forms
-------------------------------------------------------------- */
form .row {
  clear: both;
  margin: 0 0 10px 0;
  &.action {
    margin: 20px 0;
  }
}

input[type=text],
input[type=password],
textarea,
select {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0;
  padding: 5px;
  width: 200px;
  border-radius: 5px;

  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

input::-webkit-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}

input[type=text],
input[type=password],
textarea,
select {
  &.error {
    background: #fbe3e4;
    border-color: #fbc2c4;
    color: #8a1f11;
  }
}

label {
  display: block;
}

.hint {
  color: #999;
  font-size: smaller;
}


/* Buttons
-------------------------------------------------------------- */
.button,
.button:visited {
  background-color: #666;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 4px;
  position: relative;
  text-decoration: none;

  &:hover {
    background-color: #999;
    color: #fff;
    text-decoration: none;
  }

  &:active {
    color: #fff;
    text-decoration: none;
    top: 1px;
  }

  &.small {
    border-radius: 3px;
    font-size: 9px;
    padding: 3px 5px 2px;
  }

  &.medium {
    font-size: 13px;
    font-weight: bold;
  }

  &.large {
    font-size: 15px;
    padding: 8px 15px 7px;
  }

  &.blue {
    background-color: #00BBEB;
  }

  &.green {
    background-color: #3AB54A;
  }
}
