%hgroup.brand
  %p Custom Handmade Pottery
  %h1 Imprintz
  %p Boulder, Colorado
%nav.main
  %ul
    %li.home
      %a{ :href => '#gallery' } Home
    %li.services
      %a{ :href => '#services' } Services
    %li.about
      %a{ :href => '#about' } About
    %li.contact
      %a{ :href => '#contact' } Contact

